<div>
  <h2>{{ tableName }}</h2>
  <table>
    <thead>
      <tr>
        <ng-container *ngFor="let header of headers">
          <th *ngIf="!header.startsWith('is')">
            {{ header | uppercase }}
          </th>
        </ng-container>
        <th *ngIf="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data">
        <ng-container *ngFor="let header of headers">
          <td *ngIf="!header.startsWith('is')">
            {{ data[header]?.toLocaleString() }}
          </td>
        </ng-container>

        <td *ngIf="action">
          <ng-container *ngIf="headers?.includes('isSurveyDone')">
            <ng-container *ngIf="data['isSurveyDone']; else showLink">
              <span>Already Surveyed</span>
            </ng-container>
            <ng-template #showLink>
              <a [routerLink]="action.route + '/' + data.id">{{
                action.name
              }}</a>
            </ng-template>
          </ng-container>
          
          <ng-container *ngIf="!headers?.includes('isSurveyDone')">
            <a [routerLink]="action.route + '/' + data.id">{{ action.name }}</a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
