<header>
  <h1>Form Survey</h1>
  <a href="">⬅ Kembali</a>
</header>

<div class="form-container">
    <div>
      <h2>User ID: {{ id }}</h2>
      <p>{{ creditur?.name }}</p>
      <p>{{ creditur?.age }}</p>
      <p>{{ creditur?.address }}</p>
      <p>{{ creditur?.occupation }}</p>
      <p>{{ creditur?.collateral }}</p>
    </div>
  <form action="" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label for="occupation">Occupation Check</label>
      <select formControlName="occupation">
        <option value="true">Sesuai</option>
        <option value="false">Tidak Sesuai</option>
      </select>
      <p *ngIf="form.get('occupation')?.invalid && form.get('occupation')?.touched" class="error">Occupation Check Required</p>
    </div>
    <div class="form-group">
      <label for="address">Address Check</label>
      <select formControlName="address">
        <option value="true">Sesuai</option>
        <option value="false">Tidak Sesuai</option>
      </select>
      <p *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="error">Address Check Required</p>
    </div>
    <div class="form-group">
      <label for="collateral_condition">Collateral Condition Check</label>
      <select
        name="collateral_condition"
        formControlName="collateral_condition"
      >
        <option value="GOOD">Good</option>
        <option value="BAD">Bad</option>
      </select>
      <p *ngIf="form.get('collateral_condition')?.invalid && form.get('collateral_condition')?.touched" class="error">Collateral Condition Check Required</p>
    </div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
