<app-header
  [title]="'Survey Detail'"
  [aName]="'⬅ Kembali'"
  [aRoute]="''"
></app-header>

<div class="container">
  <section>
    <app-card>
      <div class="data-container">
        <h2>Informasi Creditur</h2>
        <p>ID: {{ creditur?.id }}</p>
        <p>{{ creditur?.name }}</p>
        <p>{{ creditur?.age }}</p>
        <p>{{ creditur?.address }}</p>
        <p>{{ creditur?.occupation }}</p>
        <p>{{ creditur?.salary?.toLocaleString() }}</p>
        <p>{{ creditur?.loan?.toLocaleString() }}</p>
        <p>{{ creditur?.collateral }}</p>
      </div>
    </app-card>
    <app-card>
      <div class="data-container">
        <h2>Hasil Survey</h2>
        <p>
          Kesesuaian Alamat:
          {{ survey?.val_address ? "Sesuai" : "Tidak Sesuai" }}
        </p>
        <p>
          Kesesuaian Pekerjaan:
          {{ survey?.val_occupation ? "Sesuai" : "Tidak Sesuai" }}
        </p>
        <p>Kondisi Barang: {{ survey?.collateral_condition }}</p>
      </div>
    </app-card>
  </section>
  <section>
    <app-card>
      <div class="detail-section">
        <h2>Hasil Scoring Kredit</h2>
        <hr />
        <p><strong>Skor:</strong> {{ creditScore?.credit_score }}</p>
        <p>
          <strong>Kategori Risiko:</strong>
          {{
            creditScore?.credit_score! >= 80
              ? "Tinggi"
              : creditScore?.credit_score! >= 50
              ? "Sedang"
              : "Rendah"
          }}
        </p>
        <div class="progress-container">
          <div
            class="progress-fill"
            [style.width.%]="creditScore?.credit_score"
          >
            {{ creditScore?.credit_score }}%
          </div>
        </div>
      </div>
    </app-card>

    <app-card>
      <div class="detail-section">
        <h2>Rekomendasi Sistem</h2>
        <hr />

        <p>
          @if(!creditScore?.isStatusChanged){
          <strong>Rekomendasi Status:</strong>
          } @else { <strong>Status:</strong>}
          <span>
            <app-label
              text="{{ creditScore?.status }}"
              [type]="getStatusType(creditScore?.status)"
              >{{ creditScore?.status }}</app-label
            >
          </span>
        </p>

        <div class="action-buttons">
          <button
            class="btn btn-danger"
            [disabled]="isUpdating"
            (click)="updateCreditScoreStatus(Status.REJECTED)"
          >
            Tolak Manual
          </button>
          <button
            class="btn btn-warning"
            [disabled]="isUpdating"
            (click)="updateCreditScoreStatus(Status.PENDING)"
          >
            Pending Manual
          </button>
          <button
            class="btn btn-success"
            [disabled]="isUpdating"
            (click)="updateCreditScoreStatus(Status.APPROVED)"
          >
            Setujui Manual
          </button>
        </div>
      </div>
    </app-card>
  </section>
</div>
